*{
	margin: 0;
	padding: 5px;
	box-sizing :border-box;

}
html , body , head{
	height: 100%;
}
html{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
.nav-wrapper{
	position: absolute;
	height: 150px;
	display: flex;
	width: 100%;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;

}
.topnav{
	display: flex;
	justify-content: flex-end;
	/*background-color: pink;
	width: 60.5%;*/
	margin: auto;
	max-width: 1200px;
	-ms-align-items: center;
	align-items: center;
}